.books-list{
    width: 100%;
    height: fit-content;
    min-height: 600px;
    padding: 50px 20px;
    font-family: 'Inter', serif;
}

.books-list .container{
    width: var(--content-width);
    height: fit-content;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 50px;
}

.books-list-header{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.books-list-header form input{
    width: 322px;
    height: 50px;
    border-radius: 6px;
    outline: none;
    background-color: var(--white);
    border: solid 1px #F0F0F0;
    padding: 20px;
    font-family: 'Inter', serif;
    font-size: 16px;
    font-weight: 300;
}

.books-list .container h2{
    font-family: 'Playfair Display', sans-serif;
    font-size: 26px;
}

.books-list .container .list{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
}
