section{
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px 20px;
}
section:nth-child(2n+1){
    background-color: var(--light-gray);
}
section .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
    width: var(--content-width);
}
h2{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 32px;
    color: var(--black);
}


.hero{
    min-height: 700px;
}
.hero .container{
    width: var(--content-width);
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.hero .container .text-part{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 50px;
}
.hero .container .text-part h2{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: var(--black);
}
.hero .container .text-part p{
    font-family: 'Playfair Display', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
}

.hero .container .book-part{
    width: 50%;
    height: fit-content;
}
.hero .container .book-part a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 20px;
}
.hero .container .book-part a img{
    width: 80%;
    height: auto;
}
.hero .container .book-part a p{
    text-align: right;
    font-family: 'Inter', serif;
    font-size: 12px;
    font-style: italic;
    color: var(--text-gray);
}


.lastadded .container{
    flex-direction: column;
    justify-content: space-between;
}
.lastadded .container .list{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.howthisworks .container{
    flex-direction: column;
    justify-content: space-between;
}
.howthisworks .subtitle{
    font-family: 'Inter', serif;
    font-weight: 300;
    font-size: 16px;
    width: 397px;
    height: fit-content;
    text-align: center;
}

.howthisworks .list{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.howthisworks .list article{
    width: 215px;
    height: 139px;
    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

.banner-image{
    width: 100%;
    height: 230px;
    background-image: url(../../src/images/home-separator.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.values .container{
    flex-direction: column;
    width: 500px;
    align-items: start;
    position: relative;
    padding-bottom: 50px;
    margin-bottom: 50px;
}
.values .container .paragraph{
    font-family: 'Inter', serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--dark-gray);
}
.values .container .signature{
    font-family: 'Inter', serif;
    font-weight: 300;
    font-size: 12px;
    font-style: italic;
    color: var(--text-gray);
}
.values .container .floating-image{
    position: absolute;
    bottom: -20px;
    right: -50px;
}